# Django==4.2.5
Django==3.1
django-environ==0.11.2
psycopg==3.1.12
whitenoise==6.11.0
gunicorn==23.0.0
# dj-database-url==3.0.1
sqlparse==0.5.3
# asgiref==3.10.0
django-basicauth==0.5.3
requests>=2.0.0
psycopg2-binary==2.9.9
django-anymail[mailgun]==8.4
django-anymail
setuptools

