<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'bought_list.css' %}" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div>
        <h1>これは bought_list_view です</h1>
        <div class="name">{{ order_info.first_name }}様の購入リストです</div>
        <!-- <div>{{ order_info.last_name }}</div>
        <div>{{ order_info.user_name }}</div> -->

        {% for items in bought_list %}
        <div class="bought_col">
            <div>名前: {{ items.product_name }}</div>
            <div>値段: {{ items.product_price|floatformat:0 }}</div>
            <div>個数: {{ items.quantity }}</div>
            <div>日付: {{ items.created_at }}</div>
        </div>
        
        {% endfor %}
    </div>
    
</body>
</html>